body{
    background-image: url(JAPON.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    color: white;

}

h1{
    color: green;
}

.primaria{
    color: blue;
}

.secundario{
    color: red;
    font-size: 50px;
    font-family: Impact;
    font-style: italic;
}

.Colorproducto{
    background-color: chocolate;
}

#parrafo2{
    color: green;
}

.terciario{
    color: green;
}

.contenedor1{
    width: 300px;
    height: 250px;
    margin: 40px;
    padding: 30px;
    border: 3px solid black

}

.contenedor2{
    width: 300px;
    height: 250px;
    margin: 40px;
    padding: 30px;
    border: 3px dotted black

}

.Titulo{
    width: 300px;
    height: 250px;
    margin: 40px;
    padding: 30px;
    border: 3px double black

}

.video{
    width: 400px;
    height: 600px;
    margin: 40px;
    padding: 30px;
    border: 3px solid black
}

.video1{
    width: 350px;
    height: 400px;

}

/*@keyframes mover {
    0% {transform: translateX(0);}
    100% {transform: translateX(300px);}

}

@keyframes girar {
    0% {transform: rotate (0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}

div{  /* puedo usar el div, h1 o cualquier elemento del html para aplicarle la animación*/
    animation: mover 5s infinite linear; /* infinite significa que la animación se repite y el linear que es constante*/
}

