*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 999;
}

.Logo1 img{
    height: 45px;

}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}


nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
